footer{
    display: flex;
    align-items: center;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    color: white;
    padding: 0% 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: auto;
    position: relative;
    bottom: none;
  }