<div class="main-container">
    <mat-toolbar class="color">
        <div class="logo">
            <img src="../../../assets/book.png">
        </div>
        <div class="logo-name">
            <span class="text">Bookstore</span>
        </div>

        <div class="search">
            <img src="../../../assets/Search-icon.svg">
            <input class="search-input" type="text" placeholder="Search...">
        </div>

        <div class="profile-cart">
            <button class="icons" mat-flat-button [matMenuTriggerFor]="logout">
                <img src="../../../assets/person.svg" style="margin-top:10px;margin-left: 25px;" width="24px" height="24px">
                <span style="margin-left: 23px;" >Profile</span>
                <mat-menu #logout="matMenu">
                    <button mat-menu-item (click)="Logout()">Logout</button>
                  </mat-menu>
            </button>
            <button class="icons" mat-flat-button>
                <img src="../../../assets/cart.svg" style="margin-top:10px; margin-left: 25px;" width="24px" height="24px" routerLink="/dashboard/cart">
                <span style="margin-left: 23px;">Cart</span>
            </button>
        </div>
    </mat-toolbar>
</div>