<div class="wishlist-container">
    <div>
        <span class="home" routerLink="/dashboard/books">Home / </span><span style="color: black; font-weight: 500;">My
            Wishlist</span>
    </div>
    <div class="count">
        <span style="color: black; font-weight: 500;">My Wishlist ({{wishlist?.length}})</span>
    </div>

    <div class="item" *ngFor="let wish of wishlist">
        <div class="wishlistItem">
            <img class="book-image" [src]="wish.bookImage">
            <div class="book-details">
                <h2 class="bookName">{{wish.bookName}}</h2>
                <span class="authorName">by {{wish.author}}</span>
                <div class="prices" style="margin-bottom: 10px;">
                    <div><span class="discountPrice">Rs. {{wish.discountPrice}}</span></div>
                    <div><span class="originalPrice">Rs. {{wish.actualPrice}}</span></div>
                </div>
            </div>
        </div>
        <button class="material-icons" mat-icon-button (click)="deleteWishItem(wish.wishListId)">
            <div>&#xe92b;</div>
        </button>
    </div>
</div>
