<div>
    <div class="books">
        <div class="bookHead" fxLayout="row" fxLayoutAlign="start center">
            <span style="font-size: 22px; font-weight: 500;">Books</span>
            <span class="booksCount">({{booksList.length}})</span>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Sort by relevence</mat-label>
            <mat-select>
                <mat-option (click)="PriceLowToHigh()">Price:Low to High</mat-option>
                <mat-option (click)="PriceHighToLow()">Price:High to Low</mat-option>
                <mat-option (click)="newestFirst()">Newest Arrivals</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="display-books">
        <mat-card class="book" *ngFor="let book of booksList">
            <div class="book-image" routerLink="/dashboard/quick-view/" (click)="quickView(book.bookId)">
                <img [src]="book.bookImage" width="125px" height="170px">
            </div>
            <div class="book-details">
                <span class="bookName">{{book.bookName}}</span>
                <span class="authorName"> by {{book.author}}</span>
                <div class="rating-count">
                    <div class="rating">
                        <span>{{book.bookRating}}</span>
                        <img src="../../../assets/star.svg" width="12px">
                    </div>
                    <span class="reviewerCount">({{book.ratingCount}})</span>
                </div>
                <div>
                    <span class="discountPrice">Rs. {{book.discountPrice}}</span>
                    <span class="originalPrice">Rs. {{book.actualPrice}}</span>
                </div>
            </div>
        </mat-card>
    </div>
</div>