<div class="outer-container">

    <div class="logo-container">
        <img class="logo" src="../../../assets/login.png">
        <p class="text">ONLINE BOOK SHOPPING</p>
    </div>

    <div class="login-signup">
        <div class="header">
            <button class="login" >LOGIN</button>
            <button class="signup" routerLink="/signup">SIGNUP</button>
        </div>

        <div class="login-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                    <mat-label>Email Id</mat-label>
                    <mat-form-field appearance="outline">
                        <input class="input" formControlName="email" matInput type="email" />
                    </mat-form-field>
                    <mat-label>Password</mat-label>
                    <mat-form-field appearance="outline">
                        <input type="password" class="input" formControlName="password" matInput type="password" />
                    </mat-form-field>
                </div>
                <div class="forgot-password">
                    <button mat-flat-button type="button" routerLink="/forgetpassword">
                        Forgot Password?
                    </button>
                </div>

                <button mat-raised-button type="submit" class="btn-primary"
                    style="background-color: #A03037;">Login</button>
            </form>

            <div class="separator"><b>OR</b></div>

            <div class="buttons">
                <button mat-flat-button class="btn-facebook" type="button">Facebook</button>
                <button mat-stroked-button class="btn-google" type="button">Google</button>
            </div>
        </div>
    </div>
</div>